.footer {
   max-width: 1200px;
   width: 100%;
   background-color: black;
   padding: 0 20px;
}

.logo {
    top: 0;
    left: 0;
    max-width: 100px;
    height: auto;
}

h3 {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    color: white;
}

.footer-secao {
    position: relative;
    margin: 0;
    text-align: left;
}

.footer-superior {
    display: flex;
    flex-direction: row;

}

.div-contato p {
    color: white;
}

.detalhesContato {
    text-align: center;
    justify-content: center;
    align-items: center;
}

.footer-superior>div:first-child {
    flex: 0 0 40%;
    text-align: justify;
    align-items: center;
}

.footer-superior>div:last-child {
    flex: 0 0 60%;
}


.desenvolvedores {
    
    display: flex;
    justify-content: space-between;
    
   
}

.centralizado {
    text-align: center;
    font-size: 16px;
    font-weight: bold;
}

.social-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.social-icons a {
    color: #fff; /* Cor dos ícones */
    font-size: 24px;   /* Tamanho dos ícones */
    transition: color 0.3s ease;
}

.social-icons a:hover {
    color: #007bff; /* Cor ao passar o mouse */
}