.footer {
    width: 1200px;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    background-image: url('../assets/planoFundoFooter.png');
    background-size: cover;
    background-position: center;
    color: black;
    font-family: Arial, sans-serif;
}

.logo {
    top: 0;
    left: 0;
    max-width: 100px;
    height: auto;
}

h3 {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}

.footer-secao {
    position: relative;
    margin: 0;
    text-align: left;
}

.footer-superior {
    display: flex;
    flex-direction: row;

}

.detalhesContato {
    text-align: center;
    justify-content: center;
    align-items: center;
}

.footer-superior>div:first-child {
    flex: 0 0 40%;
    text-align: justify;
    align-items: center;
}

.footer-superior>div:last-child {
    flex: 0 0 60%;
}

.desenvolvedores {
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: center;
    align-items: center;
    background-color: #000;   
    color: #fff;
    margin: 0;

}

.centralizado {
    text-align: center;
    font-size: 16px; 
    font-weight: bold;
  }

.social-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.social-icons a {
    color: #fff; /* Cor dos ícones */
        font-size: 24px; /* Tamanho dos ícones */
        transition: color 0.3s ease;
}

.social-icons a:hover {
    color: #007bff;
    /* Cor ao passar o mouse */
}